* {
    margin:0;
    padding:0;
    font-family:"Î¢ÈíÑÅºÚ";
    font-weight:500;
}
	.totalmoney{
		font-weight:bold;
		color:rgb(200,28,27);
	}
	#hint{
	font-weight:bold;
	}
	.bookname{
		color:rgb(15,101,186);
	    display:inline;
		font-weight:bold;
		font-size:20px;
	}
	.author{
	font-size:15px;
	}
	.money{
	text-align:center;
	font-size:18px;
	font-weight:bold;
	}
	#bookid{
		width:100%;
	}
	#tradenum{
		width:100%;
	}